.search {
    margin-top: 5%;
    margin-bottom: 12%;
    margin-right: 1%;
}

.searchbar {
    background-color: white;
}

.content {
    background-color: white;
}

.footer {
    background-color: whitesmoke;
}

/* .movies_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.movie {
    background-color: darkslategrey;
    border-radius: 3px;
    box-shadow: 3px 5px 5px rgb(0,0,0,0.5);
    width: 250px;
    margin: 1rem;
}

.movie img {
    max-width: 100%;
}

.movie_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie_info h3 {
    color:white;
    margin: 0;
    padding-right: 0.3rem;
}

.movie_rating {
    background-color: rgb(20, 37, 37);
    color: white;
    padding: 0.5rem;
}

.card_info {
        max-height:385px;
        overflow-y:scroll;
}